body {
    margin: 0;
    /* width: 1440px; */
    /* height: 1024px; */
    background-color: #F6F7F8;
}

dialog[open] {
    display: flex;
}

.dialog {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    border: unset;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


/* board dialog */

/* add task dialog */
.dialog-box {
    padding: 64px 74px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.dialog-close-button {
    position: absolute;
    top: 64px;
    right: 74px;
}

.add-task-headline-dialog {
    margin: 0;
    width: 278px;
    height: 73px;
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.add-task-form-dialog {
    box-sizing: border-box;
    padding: 48px 0 0 0;
    width: fit-content;
    display: flex;
    gap: 48.25px;
}

.add-task-bottom-group-dialog {
    padding: 138px 0 0 0;
    width: 977.5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* contacs */
.contacts {
    box-sizing: border-box;
    padding-left: 28px;
    width: 456px;
    height: 928px;
    background-color: #FFFFFF;
    filter: drop-shadow(4px 0 6px rgba(0, 0, 0, 0.08));
    overflow-y: auto;
}

.contacts-header {
    padding-top: 22.5px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-button {
    box-sizing: border-box;
    padding: 12px 0;
    width: 352px;
    background-color: #2A3647;
    border: unset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.acb-text {
    width: 175px;
    height: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
}

.acb-img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: centers;
}

.contacts-collector {
    box-sizing: border-box;
    padding: 8px 24px 32px 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.contacts-letter {
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 17px 36px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #D1D1D1;
}

.contacts-contact {
    box-sizing: border-box;
    padding: 15px 24px;
    width: 352px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.contacts-contact:hover {
    color: #FFFFFF;
    background-color: #2A3647;
    border-radius: 10px;
}

.contact-profile {
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc-orange {
    background-color: #FF7A00;
}

.bgc-purple {
    background-color: #9327FF;
}

.bgc-blue {
    background-color: blue;
}

.bgc-magenta {
    background-color: #FC71FF;
}

.bgc-yellow {
    background-color: #FFBB2B;
}

.bgc-green {
    background-color: #1FD7C1;
}

.bgc-dark-blue {
    background-color: #462F8A;
}

.bgc-red {
    background-color: #FF4646;
}

.name-email-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-email {
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #007CEE;
}

.contact-viewer {
    padding: 110px 55px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact-viewer-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.contact-viewer-headline {
    margin: 0;
    height: 73px;
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.contact-viewer-img {
    width: 3px;
    height: 59px;
    object-fit: cover;
    object-position: center;
}

.contact-viewer-subheadline {
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: #2A3647;
}

.contact-user {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact-user-header {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 54px;
}

.contact-user-profile {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 70px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-user-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-user-name {
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
}

.contact-user-button-group {
    display: flex;
    gap: 16px;
}

.contact-user-button {
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #2A3647;
    border: unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cub-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.contact-user-info {
    width: fit-content;
    height: 74px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-user-detail-group {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-user-detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cud-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.cud-mail {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #007CEE;
}

.cud-phone {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}


/* dialog edit contacts */
.dialog-contacts {
    border-radius: 30px;
    display: flex;
}

.dialog-contacts-left {
    box-sizing: border-box;
    padding: 66px 48px;
    height: 594px;
    background-color: #2A3647;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dialog-contacts-img {
    padding-top: 88px;
    width: 53.93px;
    height: 66.48px;
    object-fit: cover;
    object-position: center;
}

.dialog-contacts-group {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.dialog-contacts-headline {
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    color: #FFFFFF;
}

.dialog-contacts-underline {
    width: 90px;
    height: 3px;
    object-fit: cover;
    object-position: center;
}

.dialog-contacts-right {
    padding: 66px 48px 66px 97px;
    background-color: #FFFFFF;
    border-radius: 0 30px 30px 0;
    display: flex;
    gap: 72px;
    position: relative;
}

.dcr-close-button {
    position: absolute;
    top: 48px;
    right: 48px;
}

.dcr-profile {
    box-sizing: border-box;
    margin-top: 138px;
    width: 120px;
    height: 120px;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dcr-form {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.dcr-fieldset {
    margin: 0;
    border: unset;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dcr-input-group {
    box-sizing: border-box;
    padding: 12px 21px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.dcr-input {
    padding: 0;
    border: unset;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    flex: 1;
    outline: none;
}

.dcr::placeholder {
    color: #D1D1D1;
}

.dcr-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.dcr-button-bar {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}


.dcr-button {
    padding: 14px 23px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    color: #2A3647;
    background-color: transparent;
    border: 1px solid #2A3647;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dcr-button-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}


.dcr-button-dark {
    padding: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
    background-color: #2A3647;
    border: unset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}


/* Close button still missing!!! */
/* Button bar still missing!!! */

/* link to email and number!!! */
/* highlight current contact!!! */
/* Create Folder */
/* git clone folderName */


/* Add Contact View!!! */
/* Style scroll bar!!! */
/* Edit contact padding!!! */

/* Separate mt and bgc!!! */
/* Create a dialog add task template!!! */
/* Change classes' padding maybe... */
/* Create template + script!!! */

/* card-prototype in own html-file!!! */
/* download Open Sans!!! */
/* create font-class for responsiveness!!! */

/* add task: input hint elements missing? */
/* input date placeholder text and color + img!!! */

/* menu icons in white an gray!!! */
/* cursor:pointer fuer alle templates pruefen!!! */

/* border-padding-height anpassen */
/* evtl. line-height löschen */
/* evtl. text width und height löschen */

/* Bitte CSS erstellen!!! */