<section class="board-top-group">
    <h1 class="board-headline">Board</h1>
    <div class="board-top-right">
        <div class="p-relative">
            <input id="board-search" class="board-search" type="search" placeholder="Find Task">
            <img class="board-search-img" src="./assets/img/search.svg" alt="search">
        </div>
        <button class="board-task-button">
            <div class="btb-text">Add task</div>
            <img class="btb-img" src="./assets/img/plus-board.svg" alt="plus-board">
        </button>
    </div>
</section>

<section class="board-header-group">
    <div class="board-header">
        <div class="board-header-title">To do</div>
        <img class="board-header-img" src="./assets/img/plus-button.svg" alt="plus-button">
    </div>
    <div class="board-header">
        <div class="board-header-title">In progress</div>
        <img class="board-header-img" src="./assets/img/plus-button.svg" alt="plus-button">
    </div>
    <div class="board-header">
        <div class="board-header-title">Await feedback</div>
        <img class="board-header-img" src="./assets/img/plus-button.svg" alt="plus-button">
    </div>
    <div class="board-header">
        <div class="board-header-title">Done</div>
    </div>
</section>

<section class="board-body-group">
    <div class="board-body">
        <div class="board-no-task">No tasks to do</div>
    </div>
    <div class="board-body">
        <div class="board-task-card">
            <h3 class="btc-type">User Story</h3>
            <div class="btc-group">
                <div class="btc-title">Kochwelt Page & Recipe Recommender</div>
                <div class="btc-description">Build start page with recipe recommendation...</div>
            </div>
            <div class="board-task-progress-group">
                <div class="board-task-max-bar">
                    <div class="board-task-value-bar"></div>
                </div>
                <div class="board-task-progress-text">1/2 Subtasks</div>
            </div>
            <div class="user-priority-group">
                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="board-body">

    </div>
    <div class="board-body">

    </div>
</section>