<section class="contacts">
    <div class="contacts-header">
        <button class="add-contact-button">
            <div class="acb-text">Add new contact</div>
            <img class="acb-img" src="./assets/img/person-contacts.svg" alt="person-contacts">
        </button>
    </div>
    <div class="contacts-collector">
        <div class="contacts-letter">A</div>
        <div class="contacts-contact">
            <div class="contact-profile bgc-orange">AM</div>
            <div class="name-email-group">
                <div class="contact-name">Anton Mayer</div>
                <div class="contact-email">anton@gmail.com</div>
            </div>
        </div>
        <div class="contacts-contact">
            <div class="contact-profile bgc-purple">AS</div>
            <div class="name-email-group">
                <div class="contact-name">Anja Schulz</div>
                <div class="contact-email">schulz@hotmail.com</div>
            </div>
        </div>
        <div class="contacts-letter">B</div>
        <div class="contacts-contact">
            <div class="contact-profile bgc-blue">BZ</div>
            <div class="name-email-group">
                <div class="contact-name">Benedikt Ziegler</div>
                <div class="contact-email">benedikt@gmail.com</div>
            </div>
        </div>
        <div class="contacts-letter">D</div>
        <div class="contacts-contact">
            <div class="contact-profile bgc-magenta">DE</div>
            <div class="name-email-group">
                <div class="contact-name">David Eisenberg</div>
                <div class="contact-email">davidberg@gmail.com</div>
            </div>
        </div>
        <div class="contacts-letter">E</div>
        <div class="contacts-contact">
            <div class="contact-profile bgc-yellow">EF</div>
            <div class="name-email-group">
                <div class="contact-name">Eva Fischer</div>
                <div class="contact-email">eva@gmail.com</div>
            </div>
        </div>
        <div class="contacts-contact">
            <div class="contact-profile bgc-green">EM</div>
            <div class="name-email-group">
                <div class="contact-name">Emmanuel Mauer</div>
                <div class="contact-email">emmanuelma@gmail.com</div>
            </div>
        </div>
        <div class="contacts-letter">E</div>
    </div>
</section>