<div class="content-row">
    <section class="contacts">
        <div class="contacts-header">
            <button class="add-contact-button">
                <div class="acb-text">Add new contact</div>
                <img class="acb-img" src="./assets/img/person-contacts.svg" alt="person-contacts">
            </button>
        </div>
        <div class="contacts-collector">
            <div class="contacts-letter">A</div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-orange">AM</div>
                <div class="name-email-group">
                    <div class="contact-name">Anton Mayer</div>
                    <div class="contact-email">anton@gmail.com</div>
                </div>
            </div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-purple">AS</div>
                <div class="name-email-group">
                    <div class="contact-name">Anja Schulz</div>
                    <div class="contact-email">schulz@hotmail.com</div>
                </div>
            </div>
            <div class="contacts-letter">B</div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-blue">BZ</div>
                <div class="name-email-group">
                    <div class="contact-name">Benedikt Ziegler</div>
                    <div class="contact-email">benedikt@gmail.com</div>
                </div>
            </div>
            <div class="contacts-letter">D</div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-magenta">DE</div>
                <div class="name-email-group">
                    <div class="contact-name">David Eisenberg</div>
                    <div class="contact-email">davidberg@gmail.com</div>
                </div>
            </div>
            <div class="contacts-letter">E</div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-yellow">EF</div>
                <div class="name-email-group">
                    <div class="contact-name">Eva Fischer</div>
                    <div class="contact-email">eva@gmail.com</div>
                </div>
            </div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-green">EM</div>
                <div class="name-email-group">
                    <div class="contact-name">Emmanuel Mauer</div>
                    <div class="contact-email">emmanuelma@gmail.com</div>
                </div>
            </div>
            <div class="contacts-letter">M</div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-dark-blue">MB</div>
                <div class="name-email-group">
                    <div class="contact-name">Marcel Bauer</div>
                    <div class="contact-email">bauer@gmail.com</div>
                </div>
            </div>
            <div class="contacts-letter">T</div>
            <div class="contacts-contact">
                <div class="contact-profile bgc-red">TW</div>
                <div class="name-email-group">
                    <div class="contact-name">Tatjana Wolf</div>
                    <div class="contact-email">wolf@gmail.com</div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-viewer">
        <div class="contact-viewer-header">
            <h1 class="contact-viewer-headline">Contacts</h1>
            <img class="contact-viewer-img" src="./assets/img/vertical-line.svg" alt="vertical-line">
            <div class="contact-viewer-subheadline">Better with a team</div>
        </div>

        <div class="contact-user">
            <div class="contact-user-header">
                <div class="contact-user-profile bgc-orange">AM</div>
                <div class="contact-user-group">
                    <div class="contact-user-name">Anton Mayer</div>
                    <div class="contact-user-button-group">
                        <button class="contact-user-button">
                            <img src="./assets/img/edit.svg" alt="edit">
                            Edit
                        </button>
                        <button class="contact-user-button">
                            <img class="cub-img" src="./assets/img/delete.svg" alt="delete">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="contact-user-info">
                Contact Information
            </div>
            <div class="contact-user-detail-group">
                <div class="contact-user-detail">
                    <div class="cud-title">Email</div>
                    <div class="cud-mail">anton@gmail.com</div>
                </div>
                <div class="contact-user-detail">
                    <div class="cud-title">Phone</div>
                    <div class="cud-phone">+ 49 1111 111 11 1</div>
                </div>
            </div>
        </div>
    </section>
</div>