<header class="log-in-header">
    <img class="header-logo" src="./assets/img/header-logo.svg" alt="header-logo">
    <div class="sign-up-group">
        <div class="sign-up-text">Not a Join user?</div>
        <button id="sign-up-info-button" class="sign-up-info-button">
            <div class="sign-up-info-button-text">Sign up</div>
        </button>
    </div>
</header>

<main class="log-in-main">
    <section class="log-in-box">
        <div class="log-in-headline-group">
            <h1 class="log-in-headline">Log in</h1>
            <img class="log-in-underline" src="./assets/img/underline.svg" alt="underline">
        </div>

        <form class="log-in-form">
            <fieldset class="log-in-input-field">
                <div class="input-img-group">
                    <input id="log-in-email" class="log-in-input" type="email" placeholder="Email" required>
                    <img class="log-in-img" src="./assets/img/mail.svg" alt="mail">
                </div>
                <div class="log-in-password-group">
                    <div class="input-img-group">
                        <input id="log-in-password" class="log-in-input" type="password" placeholder="Password"
                            required>
                        <img class="log-in-img" src="./assets/img/lock.svg" alt="lock">
                    </div>
                    <div class="log-in-user-info">This field is required.</div>
                </div>
            </fieldset>
            <div class="remember-me-group">
                <img class="log-in-check-button" src="./assets/img/check-button.svg" alt="check-button">
                <div class="remember-me-text">Remember me</div>
            </div>
        </form>

        <div class="log-in-button-group">
            <button id="log-in-button" class="log-in-button">
                <div class="log-in-button-text">Log in</div>
            </button>
            <button id="guest-log-in-button" class="guest-log-in-button">
                <div class="guest-log-in-button-text">Log in</div>
            </button>
        </div>
    </section>
</main>

<footer class="log-in-footer">
    <a class="log-in-footer-link">
        <div class="log-in-footer-link-text w-105">Privacy Policy</div>
    </a>
    <a class="log-in-footer-link">
        <div class="log-in-footer-link-text w-93">Legal notice</div>
    </a>
</footer>