<header class="sign-up-header">
    <img class="header-logo" src="./assets/img/header-logo.svg" alt="header-logo">
</header>

<main class="sign-up-main">
    <section class="sign-up-box">
        <img class="sign-up-arrow-left-line" src="./assets/img/arrow-left-line.svg" alt="arrow-left-line">
        <div class="log-in-headline-group">
            <h1 class="log-in-headline">Sign up</h1>
            <img class="log-in-underline" src="./assets/img/underline.svg" alt="underline">
        </div>

        <form class="sign-up-form">
            <fieldset class="sign-up-input-field">
                <div class="input-img-group">
                    <input id="sign-up-name" class="log-in-input" type="text" placeholder="Name" required>
                    <img class="log-in-img" src="./assets/img/person.svg" alt="person">
                </div>
                <div class="input-img-group">
                    <input id="sign-up-email" class="log-in-input" type="email" placeholder="Email" required>
                    <img class="log-in-img" src="./assets/img/mail.svg" alt="mail">
                </div>
                <div class="input-img-group">
                    <input id="sign-up-password" class="log-in-input" type="password" placeholder="Password" required>
                    <img class="log-in-img" src="./assets/img/lock.svg" alt="lock">
                </div>
                <div class="log-in-password-group">
                    <div class="input-img-group">
                        <input id="sign-up-confirm-password" class="log-in-input" type="password"
                            placeholder="Confirm Password" required>
                        <img class="log-in-img" src="./assets/img/lock.svg" alt="lock">
                    </div>
                    <div class="log-in-user-info">Ups! Your password don´t match.</div>
                </div>
            </fieldset>
            <div class="accept-group">
                <img class="log-in-check-button" src="./assets/img/check-button.svg" alt="check-button">
                <div class="accept-text">
                    I accept the <a class="accept-text-link" href="#" target="_blank">Privacy policy</a>
                </div>
            </div>
        </form>

        <button id="sign-up-button" class="sign-up-button">
            <div class="sign-up-button-text">Sign up</div>
        </button>
    </section>
</main>

<footer class="log-in-footer">
    <a class="log-in-footer-link">
        <div class="log-in-footer-link-text w-105">Privacy Policy</div>
    </a>
    <a class="log-in-footer-link">
        <div class="log-in-footer-link-text w-93">Legal notice</div>
    </a>
</footer>