<section class="summary-user-headline-group">
    <h1 class="summary-user-headline">Join 360</h1>
    <img class="vertical-line" src="./assets/img/vertical-line.svg" alt="vertical-line">
    <div class="summary-user-subheadline">Key Metrics at a Glance</div>
</section>

<section class="summary-user-overview">
    <div class="to-do-done-group">
        <div class="to-do-box">
            <div class="to-do-img-box">
                <img class="to-do-img" src="./assets/img/to-do.svg" alt="to-do">
            </div>
            <div class="to-do-counter-group">
                <div class="to-do-counter">1</div>
                <div class="to-do-text">To-do</div>
            </div>
        </div>
        <div class="to-do-box">
            <div class="to-do-img-box">
                <img class="to-do-img" src="./assets/img/check.svg" alt="to-do">
            </div>
            <div class="to-do-counter-group">
                <div class="to-do-counter">1</div>
                <div class="to-do-text">Done</div>
            </div>
        </div>
    </div>

    <div class="urgent-task-greeting-group">
        <div class="urgent-task-deadline-group">
            <div class="urgent-task-group">
                <div class="to-do-img-box">
                    <img class="urgent-task-img" src="./assets/img/urgent.svg" alt="urgent">
                </div>
                <div class="to-do-counter-group">
                    <div class="to-do-counter">1</div>
                    <div class="urgent-task-text">Urgent</div>
                </div>
            </div>
            <img src="./assets/img/vertical-line-urgent.svg" alt="vertical-line-urgent">
            <div class="deadline-group">
                <div class="deadline-date">October 16, 2022</div>
                <div class="deadline-text">Upcoming Deadline</div>
            </div>
        </div>
        <div class="greeting-group">
            <div class="greeting-text">Good morning, </div>
            <div class="greeting-user">Sofia Müller</div>
        </div>
    </div>

    <div class="task-summary-group">
        <div class="task-summary">
            <div class="task-summary-counter">5</div>
            <div class="task-summary-text">Tasks in Board</div>
        </div>
        <div class="task-summary">
            <div class="task-summary-counter">2</div>
            <div class="task-summary-text">Tasks in Progress</div>
        </div>
        <div class="task-summary">
            <div class="task-summary-counter">2</div>
            <div class="task-summary-text">Awaiting Feedback</div>
        </div>
    </div>
</section>