<div id="user-interface" class="content-row">
    <aside id="ui-menu" class="ui-menu">
        <img class="menu-logo" src="./assets/img/menu-logo.svg" alt="menu-logo">

        <div class="menu-link-group">
            <a class="menu-link">
                <img class="menu-link-icon" src="./assets/img/summary-gray.svg" alt="summary">
                <div class="menu-link-text mlt-gray">Summary</div>
            </a>
            <a class="menu-link">
                <img class="menu-link-icon" src="./assets/img/task-gray.svg" alt="task">
                <div class="menu-link-text mlt-gray">Add Task</div>
            </a>
            <a class="menu-link">
                <img class="menu-link-icon" src="./assets/img/board-gray.svg" alt="board">
                <div class="menu-link-text mlt-gray">Board</div>
            </a>
            <a class="menu-link ml-active">
                <img class="menu-link-icon" src="./assets/img/contacts-white.svg" alt="contacts">
                <div class="menu-link-text mlt-white">Contacts</div>
            </a>
        </div>

        <div class="formal-link-group">
            <a class="formal-link">Privacy Policy</a>
            <a class="formal-link">Legal notice</a>
        </div>
    </aside>

    <div class="content-column">
        <header id="ui-header" class="ui-header">
            <div class="ui-header-text">Kanban Project Management Tool</div>
            <div class="info-profile-group">
                <img src="./assets/img/help.svg" alt="help">
                <img src="./assets/img/user-profile.svg" alt="user-profile">
            </div>
        </header>

        <main id="summary-user" include-template="./assets/templates/contacts.html">
            <!-- Bitte Template erstellen!!! -->



            <!-- Bitte Template erstellen!!! -->
        </main>
    </div>
</div>